# SPDX-FileCopyrightText: 2020 SAP SE or an SAP affiliate company <alexander.gilin@sap.com>
#
# SPDX-License-Identifier: CC0-1.0

.vscode/**
out/tests/**
src/**
tests/**
.gitignore
**/tsconfig.json
**/*.map
reports/**
**/*lint.*
**/sonar*
**/whitesource*
moch*
**/.xmake*
**/Jenkin*
cfg/**
.pipeline/**
.nyc*